body {
  background-color: lightblue;
}

h1 {
  color: rebeccapurple;
  text-align: center;
}

img.sinistra {
  width: 300px;
  border-radius: 50px;
  float: left;
  margin-right: 30px;
}

em {
  color: red;
}

h2 {
  color: violet;
  text-align: center;
}
